<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>English Quiz</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="header">
		<div class="container" id="userInfo">
		  <img id="image" src="{{user.image}}" alt="Undifinded avatar"></img>
		  <div class="row ">
		    <div class="col-xs-6">
						<p class="user_name">Chào : <span id="username">{{user.username}}</span></p>
		    </div>
				<div class="col-xs-6">
	        <p class="user_point"><i class="fa fa-trophy" aria-hidden="true"></i> Điểm : <span id="point">{{user.point}}</span> </p>
	      </div>
		  </div>
		  <script type="text/javascript">
		    document.getElementById("username").innerHTML = window.localStorage.username || "Undifinded name";
		    document.getElementById("image").src = window.localStorage.image;
				document.getElementById("point").innerHTML = 0;
		  </script>
			<!-- <script src="/js/user.js"></script> -->
		</div>
	</header>
	<div class="content">
		{{{body}}}
	</div>
</body>
</html>
